	*,*:after,*:before{
  box-sizing:border-box;
}
html,body{
  position:relative;
  height:100%;
}
body{
  //background:url('fondo.jpg') no-repeat center center fixed;
  box-shadow:inset 0 0 2em #333;
  background-size:cover;
  -moz-background-size:cover;
  font-size:14px;
  line-height:1.2;
  margin:0;
  padding:0;
  overflow-y:hidden;
}

.info{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width:20em;
  height:9em;
  padding:1em 0.5em;
  font-size: 1em;
  font-family: sans-serif;
  text-align:center;
  background: #8F00FF;
  color:#1ABC9C;
  z-index: 10
}
h1,.info > h1 {
  margin:0;
  padding:0;
  font-size: 3em;
  font-family: sans-serif;
  font-weight: bold;
  line-height:1;
  text-align: center;
  color:#ECF0F1;
}
.info h2{
  margin:0;
  padding:0;
  font-size:2em;
  font-family: sans-serif;
  font-weight: normal;
  color:#BDC3C7;
}


/* menu */
.box{
  position:fixed;
  top:0;
  left:-11em;
  display:block;
  width:6em;
  min-height:30em;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  background:#000;
  background: rgba(0, 0, 0, 0.67);
  color:#ECF0F1;
  z-index: 10;
  -webkit-animation:colorAnimation 2.5s infinite;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay:1s;
  animation:colorAnimation 2s infinite;
  transition:left 1s ease;
  transition:-webkit-animation 1s ease;

}
.box .logo img {
  display: block;
  width: 100%;
}
.box ul{
  list-style:none;
  margin:0;
  padding:0;
}
.box li{
  display:block;
  width:100%;
}
.box a {
  display: block;
  width: 100%;
  padding: 1em 1em;
  text-align: center;
  text-decoration: none;
  color: #999;
}
.box a:hover {
  background: #fff;
  background: rgba(250, 250, 250, 0.1);
  text-decoration: none;
  color: #ECF0F1;
}
.box .icon {
  display: block;
  width: 100%;
  font-size: 3em;
}
.date {
  position: absolute;
  bottom: 3em;
  right: 3em;
  min-width:22em; 
  padding:1em 0.5em;
  line-height: 2em;
  text-align: center;
  opacity:0;
  visibility: hidden;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  color: #eee;
  transition: all 1s ease;
  overflow: hidden;
  z-index: 10
}
.esquina-bajo{
  position: absolute;
  bottom: 0em;
  right: 0em;
  width: 3em;
  height: 3em;
  padding: .9em 0em .5em .6em;
  line-height: 1.8em;
  text-align: center;
  background: rgba(111,223,29,.6);
  color: #eee;
  border-radius: 100% 0% 0% 0%;
  opacity: .7;
  transition:all .25s;
  -webkit-animation: esquinaAction 1s infinite;
  -webkit-animation-timing-function: ease-out;
  animation: esquinaAction 1s infinite;
  z-index: 10
}
.esquina-bajo:hover{
  zoom: 1.1;
  opacity: .9;
  cursor: pointer;
}

@-webkit-keyframes esquinaAction {
  0% {
    zoom:.9;
    opacity: .7;
    width: 3em;
    height: 3em;
  }
  50% {
    zoom: 1;
    opacity: .8;
    width: 3em;
    height: 3em;
  }
  100% {
    zoom: 1.1;
    opacity: .9;
    width: 3em;
    height: 3em;
  }
}
@keyframes esquinaAction {
  0% {
    zoom:.2;
    opacity: .3;
  }
  50% {
    zoom: .8;
    opacity: .5;
  }
  100% {
    zoom: 1.1;
    opacity: .9;
  }
}

@-webkit-keyframes colorAnimation {
  0% {
    box-shadow:4.9em 0 1.9em rgba(98,96,96,.1);
  }
  10% {
    box-shadow:5em 0 2.2em rgba(98,96,96,.1);
  }
  20% {
    box-shadow:5.1em 0 2.3em rgba(98,96,96,.1);
  }
  30% {
    box-shadow:5.2em 0 2.4em rgba(98,96,96,.4);
  }
  40% {
    box-shadow:5.3em 0 2.5em rgba(98,96,96,.5);
  }
  50% {
    box-shadow:5.5em 0 2.5em rgba(98,96,96,.9);
  }
  60% {
    box-shadow:5.3em 0 2.5em rgba(98,96,96,.5);
  }
  70% {
    box-shadow:5.2em 0 2.4em rgba(98,96,96,.4);
  }
  80% {
    box-shadow:5.1em 0 2.3em rgba(98,96,96,.1);
  }
  90% {
    box-shadow:5em 0 2.2em rgba(98,96,96,.1);
  }
  100% {
    box-shadow:4.9em 0 1.9em rgba(98,96,96,.1);
  }

}
@keyframes colorAnimation {
  0% {
    box-shadow:5.4em 0 2em #fff;
    

  }
  50% {
    box-shadow:5.4em 0 2em #FC6245;
    

  }
  100% {
    box-shadow:5.4em 0 2em #FFF25A;
    

  }
}
.clock {
  font-size: 4em;
  display:inline-block; 
  padding: 0.5em;
  float:left;
}
.day {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 1em;
  text-align:center;
}
.day li{
  font-size:1.5em;
}
.showClock{
  opacity:1;
  visibility:visible;
  transition:opacity 1s ease;
}
.show{
  left:0;
  box-shadow:0 0 0 transparent;
  transition:left 1s ease;
  -webkit-animation:none;
}