	*{
		margin: 0;
		border:0;
		padding: 0;
	}
	body{
		position: relative;
  background-color: #F2F1F0;
		color: black;
		width: 100%;
		height: 100%;
	}
		#caja{
			position: absolute;
			z-index: 3;
			box-shadow: inset 0 0 2em;
				width: 100%;
		height: 100%;	
		}

		.fondo-pizarra {
		  background-color: #fff;
		  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eeeeee 0.1em, transparent 0.1em);
		  background-size: 100% 1.2em;
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
		}	
		#settingBox {
			position: absolute;
			top:0;
			bottom: 0;
			left:0;
			right: 0;
			padding: .5em;
			margin: auto;
			width:15rem;
			height: 25em;
			background: rgba(46,202,41,.7);
			font-size: 1em;
			font-family: sans-serif;
			text-align: left;
			color:#333;
			opacity: .6;
			-webkit-transition: all .55s ease;
   transition: all .55s ease;
		}

		.hide {
			visibility: hidden;
			display: none;
			-webkit-transition: all .55s ease;
   transition: all .55s ease;
		}
		.show {
			visibility: visible;
			display: block;
			-webkit-transition: all .55s ease;
   transition: all .55s ease;
		}

		#blackboard{
  	display: block;
			background: transparent;
			position: absolute;
			z-index: 2;
		}
		#objetos {
			display: block;
			background: transparent;
			position: absolute;
		}
		.canvas-container {
			position: absolute;
			z-index: 3;
		}

		#wrap{
			padding: 0em;
		}